@font-face {
    font-family: Newsport Demo;
    src: url(/fonts/NewsportDemoRegular.ttf);
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    /*! font-family: 'Newsport Demo', sans-serif; */
    font-family: 'Rubik', sans-serif;
}

html,
body {
    background-color: #0D001B;
    overflow-x: hidden;
}

.container {
    max-width: 1270px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Newsport Demo', sans-serif; */
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

p,
input {
    font-family: 'Rubik', sans-serif;
}

a,
a:hover {
    text-decoration: none;
    transition: linear .2s;
    color: #FF38F6;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-toggler {
    color: #fff;
    font-size: 26px;
    border: 1px solid;
    border-radius: 0;
    padding: 7px 15px;
}

.sec-title {
    font-weight: 500;
    font-size: 80px;
    line-height: 70px;
    font-style: italic;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 3px 3px 3px #ff38f691;
}

h3.sec-title {
    font-family: 'Newsport Demo', sans-serif;
    font-size: 65px;
    line-height: 70px;
    font-weight: 400;
}

h4.sec-title {
    font-family: 'Newsport Demo', sans-serif;
    font-size: 32px;
    line-height: 29px;
    font-weight: 400;
    font-style: italic;
}

h4.sec-title i {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    line-height: 38px;
    top: 0;
}

.sec-title span {
    color: #FF38F6;
    font-family: 'Newsport Demo', sans-serif;
}

.sec-title i {
    font-family: 'Rubik', sans-serif;
    position: relative;
    top: 25px;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ffffffb7;
}

.pe-40 {
    padding-right: 40px;
}

.ps-40 {
    padding-left: 40px;
}

/* header css */
header {
    padding: 15px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}


.logo a img {
    width: 190px;
}

header .nav-link {
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff80;
    padding: 5px;
    margin-right: 13px;
    transition: linear .2s;
}

header .nav-link:hover {
    color: #FF38F6;
}

header .nav-link.active {
    font-weight: 700;
    background: -webkit-linear-gradient(270deg, #FF38F6, #8D0087);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: linear .2s;
}

.nav-icon ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-icon ul li {
    display: inline-block;
    font-size: 20px;
    padding: 2px;
    width: 38px;
    height: 35px;
}

.nav-icon ul li a {
    color: #fff;
}

.nav-icon ul li a:hover {
    color: #FF38F6;
}

.social-icon ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-icon ul li {
    display: inline-block;
    font-size: 22px;
    padding-left: 5px;
}

.social-icon ul li a {
    color: #fff;
    -ms-transform: skewX(-12deg);
    transform: skewX(-12deg);
    display: block;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left top, #FF38F6, #5B4FFF, #FF38F6, #5B4FFF);
    background: transparent;
    width: 38px;
    height: 35px;
    position: relative;
    transition: linear .2s;
}

.navbar .social-icon ul li a {
    border-image-source: linear-gradient(180deg, #FF38F6, #8D0087);
    background: transparent;
}

.social-icon ul li a span {
    -ms-transform: skewX(12deg);
    transform: skewX(12deg);
    display: block;
    height: 100%;
    width: 100%;
}

.social-icon ul li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    background: -webkit-linear-gradient(270deg, #FF38F6, #8D0087);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: linear .2s;
}

.social-icon ul li a .p-icon {
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.social-icon ul li a:hover {
    background: linear-gradient(to left top, #FF38F6, #5B4FFF, #FF38F6, #5B4FFF);
    transition: linear .2s;
}

.navbar .social-icon ul li a:hover {
    background: linear-gradient(180deg, #FF38F6, #8D0087);
}

.social-icon ul li a:hover i {
    background: -webkit-linear-gradient(270deg, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: linear .2s;
}

.hero-sec {
    padding-bottom: 180px;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    /* height: calc(100vh - 98px); */
    /* overflow: hidden; */
}

.hero-sec::before {
    content: "";
    position: absolute;
    height: 280.86px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #0d001b00 0%, #0d001be0 77.13%, #0d001b 100%);
}

.hero-content {
    padding-top: 110px;
    z-index: 1;
    text-align: center;
    position: relative;
    /* position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0); */
}

.hero-content img {
    max-width: 1200px;
}

.hero-content h1 {
    text-align: center;
    font-style: italic;
    font-size: 100px;
    line-height: 106px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 2px 4px 4px #d86fd296;
    margin-bottom: 140px;
}

.hero-content h1 b {
    font-weight: 400;
    color: #FF38F6;
}

.hero-content h1 span img {
    position: relative;
    top: -8px;
    padding: 0 10px;
}

.action ul {
    text-align: center;
}

.action ul li {
    display: inline-block;
}

.action ul li a {
    display: block;
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg, #FF38F6 0%, #8D0087 100%);
    color: #000000;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    padding: 15px 100px;
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
    transition: linear .3s;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.action ul li a:hover {
    background: linear-gradient(180deg, #8D0087 0%, #FF38F6 100%);
}

.action ul li a.btn-twitter {
    background-color: #3EC9FF;
}

.action ul li a.btn-twitter:hover {
    background-color: #00B8FF;
}

.action ul li a span {
    display: block;
    -ms-transform: skewX(25deg);
    transform: skewX(25deg);
    font-family: 'Rubik', sans-serif;
}

.action ul li a i {
    margin-right: 16px;
}

.sec-fighter {
    background-image: url(../images/Mint-a-Fighter-bg.png);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center left;
    padding-top: 150px;
    padding-bottom: 250px;
}

.sec-fighter .col-md-6 {
    padding: 0;
}

.become-fighter-sec {
    background-image: url(../images/fighter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 350px;
    position: relative;
}

.become-fighter-sec::before {
    content: "";
    position: absolute;
    height: 182.09px;
    left: 0;
    right: 0;
    bottom: -5px;
    background: linear-gradient(180deg, #0D001B 0%, #0d001b00 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.become-fighter-sec::after {
    content: "";
    position: absolute;
    height: 246.97px;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #0D001B 0%, #0d001bbc 67.24%, #0d001b00 100%);
}

.become-fighter-content {
    max-width: 1140px;
    margin: auto;
    position: relative;
    z-index: 1;
    top: -110px;
}

.become-fighter-content h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.become-fighter-content p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.become-fighter-content .action {
    margin-top: 68px;
}

.fighter-content h2 {
    margin-bottom: 21.4px;
}


.fighter-content p {
    margin-top: 0;
    margin-bottom: 38px;
    padding-right: 80px;
}


.fighter-content form input {
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 34px;
    padding: 10px 25px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff80;
    width: calc(100% - 170px);
}

.fighter-content form .calc {
    margin-bottom: 38px;
}

.fighter-content form p {
    font-size: 24px;
    line-height: 34px;
    opacity: 0.8;
    margin-bottom: 16px;
    color: #fff;
}

.fighter-content form button {
    border: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    background: linear-gradient(180deg, #FF38F6 0%, #8D0087 100%);
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    padding: 15px 100px;
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
    transition: linear .3s;
    color: #ffffff;
    position: relative;
    left: 15px;
}

.fighter-content form button span {
    display: block;
    -ms-transform: skewX(25deg);
    transform: skewX(25deg);
    font-family: 'Rubik', sans-serif;
}

.fighter-content form button:hover {
    background-color: #FFCB00;
    background: linear-gradient(180deg, #8D0087 0%, #FF38F6 100%);
}


.fighter-img {
    padding-left: 30px;
    position: relative;
    top: -40px;
}

.fighter-img img {
    width: 100%;
}

.become-fighter-content a {
    -ms-transform: skewX(-15deg) !important;
    transform: skewX(-15deg) !important;
}

.become-fighter-content a span {
    -ms-transform: skewX(15deg) !important;
    transform: skewX(15deg) !important;
}

.future-sec {
    position: relative;
    background-image: url(../images/roadmap.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-top: 140px;
    padding-bottom: 70px;
}

.future-sec .sec-title {
    position: relative;
    top: -45px;
}

.future-sec::after {
    content: "";
    position: absolute;
    height: 182.09px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #0D001B 0%, #0d001b00 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.future-sec::before {
    content: "";
    position: absolute;
    height: 182.09px;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, #0D001B 0%, rgba(13, 0, 27, 0) 100%);

}

.future-sec h2.uk-active {
    padding-top: 80px;
    transition: linear .3s;
}

.future-card {
    text-align: center;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top, #FF38F6, #8D0087);
    padding: 50px 30px;
    margin: 0 20px;
    margin-bottom: 30px !important;
    position: relative;
    z-index: 1;
}

.future-card h4 {
    font-weight: 500;
    font-size: 75px;
    line-height: 75px;
    color: #FF38F6;
    margin-bottom: 30px;
}

.future-card p {
    font-weight: 300;
    font-size: 28px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 0;
}

.future-card p strong {
    font-weight: 700;
}

.roadmap-sec {
    max-width: 1157px;
    margin: auto;
    padding-bottom: 200px;
    padding-top: 85px;
}

.roadmap-sec h3 {
    margin-bottom: 65px;
}

.roadmap-item {
    text-align: center;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left top, #FF38F6, #5B4FFF, #FF38F6, #5B4FFF);
    background: #ff38f60f;
    -ms-transform: skewX(-1deg);
    transform: skewX(-1deg);
    display: block;
    padding: 50px 40px;
    margin: 0 5px;
    margin-bottom: 10px !important;
    height: 100%;
}

.roadmap-item h3 {
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 16px;
}

.roadmap-item p {
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0;
}

.sec-practices {
    background-image: url(../images/bg-lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 105px;
    position: relative;
}

.sec-practices::before {
    content: "";
    position: absolute;
    height: 160.5px;
    left: 0;
    right: 0;
    bottom: -1px;
    background: linear-gradient(180deg, #0D001B 0%, #0d001b00 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);

}

.sec-practices h3.sec-title.roadmaps-title {
    position: relative;
    top: -60px;
}

.sec-practices .inner-sec {
    margin-bottom: 30px;
}

.sec-practices .inner-sec.first {
    padding-top: 71px;
}

.sec-practices .inner-sec:last-child {
    margin-bottom: 0;
}

.inner-sec p {
    margin: 0;
    margin-right: 30px;
    margin-bottom: 80px;
}

.inner-sec p:last-child {
    margin-bottom: 0;
}

.footer-sec {
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    padding-top: 35px;
}

.footer-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 137.55px;
    background: linear-gradient(180deg, #0D001B 0%, #0d001b00 100%);
}

.footer-sec::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 160.5px;
    background: linear-gradient(180deg, #0D001B 0%, #0d001b00 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}



.footer-sec .inner-sec {
    margin-bottom: 150px;
}

.footer-sec .inner-sec:last-child {
    margin-bottom: 130;
}

.inner-sec .sec-title {
    margin-top: 0;
    margin-bottom: 24px;
}

.team {
    padding-top: 70px;
    position: relative;
    z-index: 1;
}

.team h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-bottom: 53px;
}

.team h3 span {
    font-family: 'Rubik', sans-serif;
}

.team-card {
    position: relative;
    overflow: hidden;
    top: 0;
    transform: scale(1.02);
    transition: linear .3s;
}

.team-card:hover {
    top: -20px;
    transform: scale(1.05);
}

.team-card img {
    width: 100%;
}

.team-card .card-content {
    position: absolute;
    left: 32px;
    bottom: 32px;
}

.team-card h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 6px;
    background: -webkit-linear-gradient(270deg, #FF38F6, #5B4FFF, #FF38F6, #5B4FFF);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px transparent;
}

.team-card p {
    margin: 0;
}

.team-card p a {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #ffffff;
    background: -webkit-linear-gradient(270deg, #FF38F6, #5B4FFF, #FF38F6, #5B4FFF);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px transparent;
    opacity: 0.7;
}

.faq-sec {
    background-image: url(../images/);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    padding-bottom: 117px;
}

.faq-sec h3 {
    margin-bottom: 72px;
}

.faq-content {
    max-width: 1000px;
    margin: auto;
}

.faq-content .accordion-item {
    color: #fff;
    -ms-transform: skewX(-8deg);
    transform: skewX(-8deg);
    display: block;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left top, #FF38F6, #5B4FFF, #FF38F6, #5B4FFF);
    background: #ff38f60f;
    border-radius: 0;
    margin-bottom: 38px;
}

.faq-content .accordion-item:last-child {
    margin-bottom: 0;
}

.faq-content .accordion-item .accordion-header .accordion-button {
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left top, #FF38F6, #5B4FFF, #FF38F6, #5B4FFF);
    padding: 10px 30px;
    padding-bottom: 20px;
    position: relative;
}

.faq-content .accordion-item .accordion-header .accordion-button span {
    display: block;
    -ms-transform: skewX(8deg);
    transform: skewX(8deg);
    font-family: 'Newsport Demo', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
}

.faq-content .accordion-item .accordion-header .accordion-button span i {
    font-family: 'Rubik', sans-serif;
}

.faq-content .accordion-item .accordion-header .accordion-button::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    background: none;
    color: #fff;
    font-size: 18px;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0px, -50%);
}

.faq-content .accordion-item .accordion-header .accordion-button.collapsed {
    border-bottom: none;
}

.faq-content .accordion-item .accordion-header .accordion-button:focus {
    box-shadow: none;
}

.faq-content .accordion-item .accordion-body {
    font-size: 18px;
    line-height: 28px;
    padding: 20px 45px;
    padding-bottom: 30px;
    -ms-transform: skewX(8deg);
    transform: skewX(8deg);
}

footer {
    padding: 22.25px 0;
    border-top: 1px solid #ffffff1a;
    position: relative;
    z-index: 1;
}

.mint-counter {
    background: linear-gradient(180deg, #FF38F6 0%, #8D0087 100%);
    text-align: center;
    padding: 22.21px;
}

.mint-counter-container {
    max-width: 466px;
    margin: auto;
}

.mint-counter .title {
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 26.36px;
}

.mint-counter .number {
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.mint-counter .label {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about-sec {
    position: relative;
    background-image: url(../images/about-sec-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}

.about-sec::before {
    content: "";
    position: absolute;
    height: 123.11px;
    left: 0px;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #0D001B 0%, #0d001b00 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.about-content {
    max-width: 1132px;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

.about-content h3 {
    margin-bottom: 20px;
}

.about-content p {
    margin-top: 0;
    margin-bottom: 44.3px;
}

.about-content img {
    max-width: 524.73px;
}

.what-gods {
    margin-bottom: 111px;
}

.what-gods img {
    margin-bottom: 54.74px;
}

.what-gods .action li {
    width: 524.73px;
    padding: 0;
    margin-bottom: 30px;
}

.what-gods ul li {
    display: inline-block;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    padding: 0 18px;
}


.story {
    margin-bottom: 129px;
}

.story h3 {
    margin-bottom: 28px;
}

.story p {
    margin-bottom: 20px;
}


.story img {
    margin-top: 30px;
}

.mission {
    padding-bottom: 180px;
}

.mission p {
    margin-bottom: 20px;
}